
hw1/.idea/encodings.xml
.idea/workspace.xml
hw1/.idea/hw1.iml
hw1/.idea/misc.xml
hw1/.idea/modules.xml
hw1/.idea/vcs.xml
hw1/.idea/workspace.xml
hw1/calculator/.idea/workspace.xml
hw1/calculator/.idea/workspace.xml
hw1/calculator/.idea/workspace.xml
*.xml
